<ion-view view-title="Tüm Tahminler">
    <ion-content>
        <ion-refresher pulling-text="Yükleniyor..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="row">
            <div class="col col-100">
                <div class="bar bar-subheader bar-stable static text-center">
                    <strong class="title">Ümit Gürgan'ın Tüm Tahminleeri</strong>
                </div>
                <div ng-repeat="article in articleList">
                    <div class="list card stable-bg im-wrapper">
                        <div class="item">
                            <div class="bar bar-subheader bar-stable static text-center">
                                <strong class="title">{{article.Title}}</strong>
                            </div>
                        </div>
                        <div class="item item-body" ng-bind-html="article.Body">
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <span class="tab-item"><i class="icon ion-person"></i> {{article.User.UserName}}</span>
                            <span class="tab-item"><i class="icon ion-eye"></i> {{article.ReadCount}} Okunma</span>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <span class="tab-item"><i class="icon ion-clock"></i> {{article.AddedDate | showdate}}</span>
                            <span class="tab-item"><i class="icon ion-chatbubbles"></i> {{article.CommentCount}} Yorum</span>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <div><a class="button button-raised button-assertive icon ion-clipboard ink-dark" href="#/app/article/detail/{{article.Id}}"> Devamını Oku</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="loadMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>