<ion-view view-title="Detay">
    <ion-content>
        <div>
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">{{article.Title}}</strong>
            </div>
            <div class="im-wrapper">
                <div>
                    <span><i class="ion ion-person"></i> {{article.User.UserName}}</span>
                    <span><i class="ion ion-eye"></i> {{article.ReadCount}} Okunma</span>
                </div>
                <div>
                    <span><i class="ion ion-clock"></i> {{article.AddedDate | showdate}}</span>
                    <span><i class="ion ion-chatbubbles"></i> {{article.Comments.length}} Yorum</span>
                </div>
                <span ng-bind-html="article.Body"></span>

                <div ng-show="article.Comments.length > 0">
                    <div>
                        <h4 class="no-border no-padding-bottom"><i class="ion ion-chatbubbles"></i> Yorumlar
                            ({{article.Comments.length}}) </h4>
                    </div>
                    <div ng-repeat="comment in article.Comments">
                        <p>

                        <div><i class=" ion ion-person"></i> <b>Yazan: </b>{{comment.User.UserName}}</div>
                        <div><i class=" ion ion-clock"></i> <b>Tarih: </b>{{comment.CreateDate | fulldate}}</div>
                        <div><i class="ion ion-compose"></i> <b>Başlık: </b> {{comment.Title}}</div>
                        <div><i class="ion ion-chatbubble"></i> <b>Yorum: </b> {{comment.Body}}</div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="im-wrapper"><h4 class="no-border no-padding-bottom"><i class="ion ion-chatbubbles"></i>
                    Yorum Yapın </h4></div>
                <form name="commentForm" novalidate="" ng-submit="commentForm.$valid && saveComment()">
                    <label class="item item-input border"  ng-class="{ 'has-errors' : commentForm.subject.$invalid, 'no-errors' : commentForm.subject.$valid}">
                        <span class="input-label">Konu</span>
                        <input type="text" ng-model="commentModel.Title" name="subject" placeholder="Konu" required="required">
                    </label>
                    <label class="item item-input border"  ng-class="{ 'has-errors' : commentForm.body.$invalid, 'no-errors' : commentForm.body.$valid}">
                        <span class="input-label">Yorumunuz</span>
                        <textarea ng-model="commentModel.Body" name="body" placeholder="Yorumunuzu buraya yazınız..."  required="required"></textarea>
                    </label>
                    <label class="item item-input item-stacked-label">
                        <div class="im-wrapper">
                            <button type="submit" class="button button-balanced button-raised icon-right ion-ios-color-energized right"
                                    data-ink-color="#FFFFFF"
                                    data-ink-opacity=".8">Yorum Yap
                            </button>
                        </div>
                    </label>
                </form>

            </div>
        </div>

    </ion-content>
</ion-view>