<ion-view view-title="Ödeme Bildirimi - Tekatalim">
    <ion-content>
        <div class="list">
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Giriş</strong>
            </div>
            <label class="item item-input border">
                <span class="input-label">Kullanıcı Adınız</span>
                <input type="text" ng-model="paymentDeclaration.UserName" placeholder="Kullanıcı Adınız">
            </label>

            <label class="item item-input border">
                <span class="input-label">Adınız Soyadınız</span>
                <input type="text" ng-model="paymentDeclaration.FullName" placeholder="Adınız Soyadınız">
            </label>
            <label class="item item-input border">
                <span class="input-label">Tc Kimlik No</span>
                <input type="text" ng-model="paymentDeclaration.TcNo" placeholder="Tc Kimlik No">
            </label>
            <label class="item item-input border">
                <span class="input-label">Para Yatırdığınız Banka</span>
                <input type="text" ng-model="paymentDeclaration.SenderBankName" placeholder="Para Yatırdığınız Banka">
            </label>
            <label class="item item-select border">
                <span class="input-label">Ödeme Yaptığınız Kanal</span>
                <select name="Chanel" ng-model="paymentDeclaration.Chanel">
                    <option value="Paypal">Paypal</option>
                    <option value="Garanti Bankası">Garanti Bankası</option>
                    <option value="İş Bankası">İş Bankası</option>
                    <option value="Oley">Oley</option>
                    <option value="TJK">TJK</option>
                    <option value="PTT">PTT</option>
                </select>
            </label>
             <label class="item item-input border">
                <span class="input-label">Tutar</span>
                <input type="text" ng-model="paymentDeclaration.Amount" placeholder="Tutar">
            </label>
             <label class="item item-input border">
                <span class="input-label">Tarih</span>
                <input type="date" ng-model="paymentDeclaration.PaymentDate" placeholder="Tarih">
            </label>
            <label class="item item-input item-stacked-label im-wrapper">
                <button class="button button-balanced button-raised icon-right ion-ios-color-energized right" ng-click="savePaymentDeclaration()" data-ink-color="#FFFFFF"
                data-ink-opacity=".8">Ödeme Bildir</button>
            </label>
        </div>
    </ion-content>
</ion-view>