<ion-view view-title="Anasayfa">
    <ion-content>
        <ion-refresher pulling-text="Yükleniyor..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Ümit Gürgan'ın Son Başarılı Tahminleri</strong>
        </div>
        
        <div class="row">
            <div class="col col-100">
                <ion-slide-box>
                    <ion-slide ng-repeat="image in slides">
                        <a href="#/app/article/detail/{{image.ArticleId}}"><img ng-src="{{image.ImageUrl}}" style="width:400px;height:200px;margin:auto;display:block"></a>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="row">
            <div class="col col-100">
                <div ng-repeat="article in todayArticleList">
                    <div class="bar bar-subheader bar-stable static text-center">
                        <strong class="title">Ümit Gürgan'ın {{article.AddedDate | showdate}} Yorumu</strong>
                    </div>
                    <div class="list card stable-bg im-wrapper">
                        <div class="bar bar-subheader bar-stable static text-center">
                            <a  href="#/app/article/detail/{{article.Id}}"><strong class="title">{{article.Title}}</strong></a>
                        </div>
                        <div class="item item-body" ng-bind-html="article.Body">
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <span class="tab-item"><i class="icon ion-person"></i> {{article.User.UserName}}</span>
                            <span class="tab-item"><i class="icon ion-eye"></i> {{article.ReadCount}} Okunma</span>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <span class="tab-item"><i class="icon ion-clock"></i> {{article.AddedDate | showdate}}</span>
                            <span class="tab-item"><i class="icon ion-chatbubbles"></i> {{article.CommentCount}} Yorum</span>
                        </div>
                        <div class="item tabs tabs-secondary tabs-icon-left">
                            <div><a class="button button-raised button-assertive icon ion-clipboard ink-dark" href="#/app/article/detail/{{article.Id}}"> Devamını Oku</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>