<ion-view view-title="Şifremi Değiştir Tekatalim">
    <ion-content>
        <div class="list">
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Şifremi Değiştir</strong>
            </div>
            <form name="changePasswordForm" novalidate="" ng-submit="changePasswordForm.$valid && changePassword()">
                <label class="item item-input border"
                       ng-class="{ 'has-errors' : changePasswordForm.oldPassword.$invalid, 'no-errors' : forgetPasswordForm.oldPassword.$valid}">
                    <span class="input-label">Eski Şifreniz</span>
                    <input type="password" ng-model="changePasswordModel.OldPassword" name="oldPassword"
                           placeholder="Eski Şifreniz" required="required">
                </label>

                <label class="item item-input border"
                       ng-class="{ 'has-errors' : changePasswordForm.newPassword.$invalid, 'no-errors' : forgetPasswordForm.newPassword.$valid}">
                    <span class="input-label">Yeni Şifreniz</span>
                    <input type="password" ng-model="changePasswordModel.NewPassword" name="newPassword"
                           placeholder="Yeni Şifreniz" required="required">
                </label>

                <label class="item item-input item-stacked-label im-wrapper">
                    <button type="submit"
                            class="button button-balanced button-raised icon-right ion-ios-color-energized right"
                            data-ink-color="#FFFFFF"
                            data-ink-opacity=".8">Şifremi Değiştir
                    </button>
                </label>
                <div class="im-wrapper" ngMessages="minlength">
                    <span><span class="assertive">*</span> olan alanlar zorunludur.</span>
                </div>
            </form>
            <div>
                <p class="text-center im-wrapper">
                   Eski ve yeni şifrenizi yazarak sitemdeki şifrenizi değiştirebilirsiniz.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>