<ion-view view-title="Şifremi Unuttum Tekatalim">
    <ion-content>
        <div class="list">
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Şifremi Unuttum</strong>
            </div>
            <form name="forgetPasswordForm" novalidate="" ng-submit="forgetPasswordForm.$valid && forgetPassword()">
                <label class="item item-input border"
                       ng-class="{ 'has-errors' : forgetPasswordForm.email_address.$invalid, 'no-errors' : forgetPasswordForm.email_address.$valid}">
                    <span class="input-label">E-Posta Adresiniz</span>
                    <input type="email" ng-model="forgetPasswordModel.Email" name="email_address"
                           placeholder="E-Posta Adresiniz" required="required">
                </label>
                <label class="item item-input item-stacked-label im-wrapper">
                    <button type="submit"
                            class="button button-balanced button-raised icon-right ion-ios-color-energized right"
                            data-ink-color="#FFFFFF"
                            data-ink-opacity=".8">Şifremi Gönder
                    </button>
                </label>
                <div class="im-wrapper" ngMessages="minlength">
                    <span><span class="assertive">*</span> olan alanlar zorunludur.</span>
                </div>
            </form>
            <div>
                <p class="text-center im-wrapper">
                    E-Posta adresinizi yazarak şifrenizi E-Posta adresinize talep edebilirsiniz.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>