<ion-view view-title="Şifremi Unuttum Tekatalim">
    <ion-content>
        <div class="list">
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Şifremi Unuttum</strong>
            </div>

            <label class="item item-input border">
                <span class="input-label">E-Posta Adresiniz</span>
                <input type="text" ng-model="forgetPasswordModel.Email" placeholder="E-Posta Adresiniz">
            </label>
            <label class="item item-input item-stacked-label im-wrapper">
                <button class="button button-balanced button-raised icon-right ion-ios-color-energized right"
                        ng-click="forgetPassword()" data-ink-color="#FFFFFF"
                        data-ink-opacity=".8">Şifremi Gönder
                </button>
            </label>
            <div>
                <p class="text-center">
                    E-Posta adresinizi yazarak şifrenizi E-Posta adresinize talep edebilirsiniz.
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>