<ion-view view-title="Giriş Tekatalim">
    <ion-content>
        <div class="list">
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Giriş</strong>
            </div>
            <label class="item item-input border">
                <span class="input-label">Kullanıcı Adınız</span>
                <input type="text" ng-model="loginModel.UserName" placeholder="Kullanıcı Adınız.">
            </label>
            <label class="item item-input border">
                <span class="input-label">Şifreniz</span>
                <input type="password" ng-model="loginModel.Password" placeholder="Şifreniz">
            </label>
            <label class="item item-input item-stacked-label">
                <button class="button button-balanced button-raised icon-right ion-ios-color-energized right" ng-click="login()" data-ink-color="#FFFFFF"
                data-ink-opacity=".8">Giriş</button>
            </label>
        </div>
    </ion-content>
</ion-view>