<ion-view view-title="Profilim Tekatalim">
    <ion-content>
        <div class="list">
            <div class="bar bar-subheader bar-stable static text-center">
                <strong class="title">Profilim</strong>
            </div>
            <label class="item item-input border">
                <span class="input-label">Kullanıcı Adınız</span>
                <input type="text" ng-model="profileModel.UserName" placeholder="Kullanıcı Adınız">
            </label>
            <label class="item item-input border">
                <span class="input-label">E-Posta Adresiniz</span>
                <input type="email" ng-model="profileModel.Email" placeholder="E-Posta Adresiniz">
            </label>
            <label class="item item-input border">
                <span class="input-label">Adınız</span>
                <input type="text" ng-model="profileModel.Name" placeholder="Adınız">
            </label>
            <label class="item item-input border">
                <span class="input-label">Soyadınız</span>
                <input type="text" ng-model="profileModel.LastName" placeholder="Soyadınız">
            </label>
            <label class="item item-input border">
                <span class="input-label">Telefon Numaranız</span>
                <input type="tel" ng-model="profileModel.PhoneNumber" placeholder="Telefon Numaranız">
            </label>
            <label class="item item-input border">
                <span class="input-label">TC Kimlik Numaranız</span>
                <input type="text" ng-model="profileModel.TC" placeholder="TC Kimlik Numaranız">
            </label>
            <label class="item item-input border">
                <span class="input-label">Doğum Tarihiniz</span>
                <input type="date" ng-model="profileModel.BirthDate" placeholder="Doğum Tarihiniz">
            </label>
            <label class="item item-input item-stacked-label im-wrapper">
                <button class="button button-energized button-raised icon-right ion-ios-color-energized"
                        ng-click="updateProfile()" data-ink-color="#FFFFFF"
                        data-ink-opacity=".8">Şifremi Değiştir
                </button>
                <button class="button button-balanced button-raised icon-right ion-ios-color-energized right"
                        ng-click="updateProfile()" data-ink-color="#FFFFFF"
                        data-ink-opacity=".8">Güncelle
                </button>
            </label>
        </div>
        <div class="im-wrapper">Sistemde kullanabileceğiniz Toplam: <b>{{profileModel.Credit}}</b> krediniz bulunmaktadır.</div>
    </ion-content>
</ion-view>